html {
  background-image: url('https://cdn.vox-cdn.com/thumbor/9p4TnYw9owPdK5P7PUOCBnRYlYc=/0x0:1024x1517/1200x800/filters:focal(431x678:593x840)/cdn.vox-cdn.com/uploads/chorus_image/image/62280037/detective_pikachu_poster_1024.0.jpg');
  background-size:cover;
  height:100%;
  background-attachment: fixed;
}
body {
  background-color: rgba(0,0,0,0.8);
  color: white;
  margin: 33px;
  padding:1vw;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 30px;
  line-height: 36px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 26px;
  line-height: 30px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: rgb(189, 202, 4);

  &:visited {
    color: rgb(122, 133, 28);
  }

  &:hover {
    color: #fff;
    // background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
